.auth-nav {
  display: flex;

  @media (max-width: $bp-tablet) {
    display: none;
  }

  @media (min-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.auth-nav__item:not(:first-child) {
  // @media (max-width: 1199px){
  // margin-bottom: 10px;
  // }

  @media (min-width: 1200px) {
    margin-left: 30px;
  }
}

.auth-nav__contact {
  display: flex;
  // margin-top: 10px;
  align-items: center;
  color: $accent-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $cubic;

  @media (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: $button-link-color;
  }
}

.auth-nav__icon__envelope {
  margin-right: 10px;
  fill: currentColor;
  width: 14px;
  height: 10px;
  @media (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.auth-nav__icon__phone {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 14px;
  @media (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
