.client__list {
  display: flex;

  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  gap: 30px;

  @media (min-width: 1200px) {
    gap: 30px;
    flex-wrap: nowrap;
  }
}
.client__item {
  height: 92px;
  max-width: 100%;
  align-items: center;

  flex-basis: calc((100% - 30px) / 2);
  //   @media (max-width: 479px){

  // }

  @media (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media (min-width: 1200px) {
    width: 170px;
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $color-icon;
  background-color: $primary-white-color;
  transition: color $cubic, border $cubic;
}

.client__link:hover,
.client__link:focus {
  color: $button-link-color;
  border: 1px solid $button-link-color;
  animation-name: changelink;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 300ms;
}

@keyframes changelink {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.client__icon {
  max-width: 106px;
  width: 100%;
  height: 60px;
  fill: currentColor;
}

.client {
  display: flex;
  gap: 30px;
  justify-content: center;
}
