.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms $cubic;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.mobile-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 306px;
}

.mobile-nav__item {
  margin-bottom: 32px;
  list-style: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-nav__link {
  display: block;
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobile-nav__link__cur {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: $button-link-color;
}

.mobile-nav-contact {
  margin-bottom: 84px;
}

.mobile-nav-contact__item:not(:last-child) {
  margin-bottom: 32px;
  text-decoration: none;
}

.mobile-nav-contact__tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  list-style: none;
  text-decoration: none;

  @media (max-width: 420px) {
    font-size: 26px;
  }
}

.mobile-nav-contact__mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16x;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  @media (max-width: 420px) {
    font-size: 18x;
  }
}

.mobile-nav-social {
  display: flex;
  flex-direction: row;
}
.mobile-nav-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-nav-social__item .link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;

  @media (max-width: 420px) {
    font-size: 12px;
  }
}
